.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-main {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.modal-left {
  flex: 1;
  max-width: 45%;
}

.modal-right {
  flex: 2;
  padding-left: 1rem;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

@media (min-width: 768px) {
  .modal-content {
    flex-direction: row;
  }
}
